/*Gerais*/
body{
    font-family: 'Kalam', sans-serif /*para inventuais problemas*/;
}

.row{ /*bootstrap utiliza a classe row para fazer linhas*/
    margin: 0;
}

.container{
    padding: 70px 0;
}

p, li{
    color: grey;
    font-size: 14px;
}

/*Barra de navegação*/
header, .navbar{
    background-color: rgb(171, 170, 175);
}

#nav-container{
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand{
    padding: 0;
    color: rgb(255, 255, 255);
}

.navbar-brand:hover{
    color: rgb(255, 255, 255);
}

#navbar-links a{
    color:  rgb(255, 255, 255);
}

.navbar-expand-lg .navbar-nav .nav-link{ /*custumiza classes definidas pelo Bootstrap*/
    padding: 1rem .8rem;
}

/* Slider*/
.container-fluid{
    padding: 0;
}

#mainSlider .carousel-inner, #mainSlider .caurosel-item{
    height: 90vh; /*view height*/
}

#mainSlider .carousel-caption{
    top: 30%;
}

#mainSlider .carousel-caption h2{
    font-size: 50px;
    margin-bottom: 30px;
}

#mainSlider .carousel-caption p{
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 100px;
    color: white;
}

.main-btn{
    background-color: teal;
    color: white;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
}

.main-btn:hover{
    text-decoration: none;
    color: white;
    background-color: transparent;
    border-color: teal;
}

.carousel-indicators .active{
    background-color: teal;
}

/*Sobre a empresa*/
#about-area{
    background-color: rgb(233, 228, 228);
}


#about-area p{
    font-size: 15px;
}


.main-title{
    color: rgb(92, 91, 91);
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}

.main-title:after{ /*Barra que fica em baixo do título*/
    content: "";
    border-top: 2px solid #333;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
}

.about-title{
    font-size: 17px;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

#about-list{
    list-style: none;
    padding-left: 0;
}

#about-list li{
    line-height: 30px;
}

#about-list i{
    color: teal;
    margin-right: 15px;
}

/*Serviços*/
#services-area p{
    font-size: 15px;
}

.service-box{
    text-align: center;
    margin-bottom: 50px;
}

.service-box i, .service-box h4{
    transition: .5s;
}

.service-box i{
    font-size: 36px;
    margin-bottom: 20px;
    color: grey;
}

.service-box h4{
    font-size: 24px;
    margin-bottom: 20px;
}

.service-box:hover > i, .service-box:hover > h4{ /*sempre que o mouse passar por cima da service box, vai mudar o icon e o parágrafo*/
    color: teal;
}

/*Loading de dados*/
.circle-box div{ /*vai fazer o espaçamento do texto dentro do círculo*/
    padding: 0 40px;
}

.progressbar-text{
    font-weight: bold;
    font-size: 32px;
}

#data-area p{ /*faz o estilo de todos os parágrafos da área*/
    color: white;
    text-align: center;
    font-size: 26px;
    margin-top: 20px;
}

/*Equipa*/
.card-body{
    text-align: center;
}

.card-title{
    font-size: 20px;
}

#team-area p{
    font-size: 15px;
}