/*Gerais*/
body{
    font-family: 'Kalam', sans-serif /*para inventuais problemas*/;
}

.row{ /*bootstrap utiliza a classe row para fazer linhas*/
    margin: 0;
}

.container{
    padding: 70px 0;
}

p, li{
    color: grey;
    font-size: 14px;
}

/*Barra de navegação*/
header, .navbar{
    background-color: rgb(171, 170, 175);
}

#nav-container{
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand{
    padding: 0;
    color: rgb(255, 255, 255);
}

.navbar-brand:hover{
    color: rgb(255, 255, 255);
}

#navbar-links a{
    color:  rgb(255, 255, 255);
}

.navbar-expand-lg .navbar-nav .nav-link{ /*custumiza classes definidas pelo Bootstrap*/
    padding: 1rem .8rem;
}

/* Slider*/
.container-fluid{
    padding: 0;
}

#mainSlider .carousel-inner, #mainSlider .caurosel-item{
    height: 90vh; /*view height*/
}

#mainSlider .carousel-caption{
    top: 30%;
}

#mainSlider .carousel-caption h2{
    font-size: 50px;
    margin-bottom: 30px;
}

#mainSlider .carousel-caption p{
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 100px;
    color: white;
}

.main-btn{
    background-color: teal;
    color: white;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
}

.main-btn:hover{
    text-decoration: none;
    color: white;
    background-color: transparent;
    border-color: teal;
}

.carousel-indicators .active{
    background-color: teal;
}

/*Sobre a empresa*/
#about-area{
    background-color: rgb(233, 228, 228);
}


#about-area p{
    font-size: 15px;
}


.main-title{
    color: rgb(92, 91, 91);
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}

.main-title:after{ /*Barra que fica em baixo do título*/
    content: "";
    border-top: 2px solid #333;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
}

.about-title{
    font-size: 17px;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

#about-list{
    list-style: none;
    padding-left: 0;
}

#about-list li{
    line-height: 30px;
}

#about-list i{
    color: teal;
    margin-right: 15px;
}

/*Serviços*/
#services-area p{
    font-size: 15px;
}

.service-box{
    text-align: center;
    margin-bottom: 50px;
}

.service-box i, .service-box h4{
    transition: .5s;
}

.service-box i{
    font-size: 36px;
    margin-bottom: 20px;
    color: grey;
}

.service-box h4{
    font-size: 24px;
    margin-bottom: 20px;
}

.service-box:hover > i, .service-box:hover > h4{ /*sempre que o mouse passar por cima da service box, vai mudar o icon e o parágrafo*/
    color: teal;
}

/*Loading de dados*/
.circle-box div{ /*vai fazer o espaçamento do texto dentro do círculo*/
    padding: 0 40px;
}

.progressbar-text{
    font-weight: bold;
    font-size: 32px;
}

#data-area p{ /*faz o estilo de todos os parágrafos da área*/
    color: white;
    text-align: center;
    font-size: 26px;
    margin-top: 20px;
}

/*Equipa*/
.card-body{
    text-align: center;
}

.card-title{
    font-size: 20px;
}

#team-area p{
    font-size: 15px;
}

/*Seção de Contratação*/
#apply-area{
    height: 500px;
}

#apply-area .container-fluid, #apply-area .row{
    height: 100%;
}

#apply-area .apply-box{
    text-align: center;
    padding: 70px 50px;
}

#cds-img{
    background-image: url('../img/L.png'); /*insere a imagem*/
    background-size: cover; /*imagem cobre todo o container*/
    height: 100%;
}

#gravacao-img h4, #gravacao-img p{
    color: white;
}

#gravacao-img h4{
    margin-top: 8%;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#gravacao-img p{
    margin-bottom: 20px;
}

#apply-btn{
    display: block;
    height: auto;
    width: 180px;
    margin-left: auto; /*centraliza o botão*/
    margin-right: auto;
    margin-top: 30px;
    background-color: transparent;
    border-color: white;
}

#apply-btn:hover{
    border-color: teal;
    background-color: teal;
}

/*Artistas*/
.project-box{
    margin-bottom: 30px;
}

#filter-btn-box{
    margin-bottom: 50px;
    text-align: center;
}

#artists-area .filter-btn{
    color: grey;
    border: 1px solid grey;
    background-color: transparent;
    text-transform: none;
    margin: 0 15px;
    min-width: 100px;
    width: auto;
    height: 40px;
    line-height: 40px; /*alinhar o texto no meio do botão*/
    padding: 0 20px;
}

#artists-area .filter-btn.active, #artists-area .filter-btn:hover{
    color: white;
    background-color: teal;
    border-color: teal;
}

.zoom{
    overflow: hidden; /*não criar barras na hora do zoom*/
}

.zoom img{
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.zoom:hover img{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.text-item{
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: 20px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 lpx 3px rgba(0,0,0,0.6);
}

/*Newsletter*/
#news-area{
    text-align: center;
    background-color: rgb(233, 228, 228);
}

#news-area p{
    font-size: 18px;
    margin-bottom: 40px;
}

#email-input{
    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid teal;
    display: inline;
    box-sizing: border-box;
    width: 40%;
    height: 40px;
}

#news-btn{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid teal;
    background-color: teal;
    text-transform: uppercase;
    color: white;
    height: 40px;
    padding: 0 30px;
    margin-left: -130px;
    position: absolute;
    transition: .5s;
}

#news-btn:hover{
    background-color: white;
    color: teal;
}

/*Passatempos*/
#passatempos-area{
    background-color: teal;
    text-transform: uppercase;
}

#passatempos-area .container{
    padding: 40px 100px;
}

#passatempos-area .row{
    display: block; /*alinhar os textos no centro da área*/
    text-align: center;
}

#passatempos-area p{
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: auto;
    letter-spacing: 2px;
    margin-bottom: 0;
    display: inline;
    height: 60px;
    line-height: 60px;
}

#passatempos-area #passatempos-btn{
    background-color: white;
    color: teal;
    font-weight: bold;
    font-size: 20px;
    margin-left: 30px;
    width: auto;
    letter-spacing: 2px;
}

/*Rodapé - Contacto*/
#contact-area{
    text-align: center;
}

.contact-box{
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid teal;
}

.contact-box i{
    color: grey;
    border: solid 1px grey;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-box p{
    font-size: 16px;
}

.contact-title{
    font-weight: bold;
    color: teal;
}

#msg-box p{
    font-size: 22px;
}

#contact-form input[type="text"], #contact-form input[type="email"], #contact-form textarea{
    margin-bottom: 15px;
    border-radius: 0;
}

#contact-form .main-btn{
    width: 120px;
    height: 50px;
}

#contact-form .main-btn:hover{
    color: teal;
}

/*Copyright*/
#copy-area{
    background-color: rgb(233, 228, 228);
}

#copy-area .container{
    padding: 10px 0;
    text-align: center;
}

#copy-area .container p{
    margin-bottom: 0;
}

#copy-area .container a{
    font-weight: bold;
    color: rgb(75, 74, 74);
}

#copy-area .container a:hover{
    text-decoration: none;
    color: teal;
}